body {
    margin: 0;
}

.MapContainer {
    display: flex;
    flex-direction: row;
}

.Map {
    width: 100%;
    height: 850px;
    z-index: 1;
}

.MapInfomation {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgb(0 0 0 / 22%) 13px 0px 6px -5px;
    z-index: 2;
}

.MarkerStation:hover {
    cursor: pointer;
}

.MapInfomationTheme {
    background-color: rgb(153, 233, 34);
    text-align: center;
    height: 100px;
    padding-top: 30px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
    border-radius: 20px;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0px 0px 15px -4px black;
}

.MapInfomationStation {
    display: flex;
    width: 400px;
    height: 200px;
    justify-content: space-between;
    margin-top: 20px;
    box-shadow: 0px 0px 10px -4px;
    border-radius: 30px;
}

.MapInfomationStationLeft {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    border-right: 1px solid rgba(0, 0, 0, 0.152);
}

.MapInfomationStationRight {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.NameStationElement {
    margin-left: 30px;
    font-weight: bold;
    font-size: 30px;
}
.CoordinatesStation{
    margin-top: 10px;
    margin-left: 30px;
    font-size: 18px;
}
.CoordinatesStationTitle{
    margin-bottom: 10px;
}

.ComponentStationElement {
    display: flex;
    margin-bottom: 15px;
    font-size: 17px;
}

.ComponentStationElementTitle {
    margin-right: 10px;
    margin-left: 20px;
}

.ComponentStationElementData {
    margin-right: 10px;
}
@media screen and (max-width: 768px) {
    .MapContainer{
        flex-direction: column;
    }
    .MapInfomation{
        width: 100%;
        padding-bottom: 20px;
        box-shadow: rgb(0 0 0 / 22%) 1px 17px 5px -6px
    }
    .Map{
        height:400px;
    }
    .MapInfomationTheme{
        height:50px;
        padding-top: 10px;
    }
    .MapInfomationStation{
        height:160px;
    }
}